{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Categories</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ entity.parentId }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Lft</th>
                <td>{{ entity.lft }}</td>
            </tr>
            <tr>
                <th>Lvl</th>
                <td>{{ entity.lvl }}</td>
            </tr>
            <tr>
                <th>Rgt</th>
                <td>{{ entity.rgt }}</td>
            </tr>
            <tr>
                <th>Root</th>
                <td>{{ entity.root }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('categories') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('categories_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
